<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", sessions_main_path %></li> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Menu <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", sessions_settings_path %></li>
			  <li><%= link_to "Goals", sessions_goals_path %></li>
			  <li><%= link_to "Calories", sessions_calories_path %></li>
			  <li><%= link_to "Steps", sessions_steps_path %></li>
			  <li><%= link_to "Distance", sessions_distance_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path %>
              </li>
            </ul>
          </li>
      </ul>
    </nav>
  </div>
</header>
<h1>Calories</h1>
	<div id="calories" style="height: 200px;"></div>
	<script>
	new Morris.Line({
	element: 'calories',
	data: [
    { day: '1', value: <%= @daily_activity['summary']['caloriesOut'] %> },
    { day: '2', value: 1800 },
    { day: '3', value: 1200 },
    { day: '4', value: 500 },
    { day: '5', value: 700 }
  ],
  xkey: 'day',
  parseTime: false,
  ykeys: ['value'],
  labels: ['Value'],
  lineColors: ['red']
});</script>