<h1>Calories</h1>
	<div id="calories" style="height: 400px;"></div>
	<script>
	new Morris.Line({
	element: 'calories',
	data: [
    { day: '1', value: <%= Datum.find_by(date: 0)[:calories] %> },
    { day: '2', value: <%= Datum.find_by(date: 1)[:calories] %> },
    { day: '3', value: <%= Datum.find_by(date: 2)[:calories] %> },
    { day: '4', value: <%= Datum.find_by(date: 3)[:calories] %> },
    { day: '5', value: <%= Datum.find_by(date: 4)[:calories] %> },
    { day: '6', value: <%= Datum.find_by(date: 5)[:calories] %> },
    { day: '7', value: <%= Datum.find_by(date: 6)[:calories] %> }
  ],
  xkey: 'day',
  parseTime: false,
  ykeys: ['value'],
  labels: ['Value']
});</script>