<h1>Distance</h1>
	<div id="distance" style="height: 400px;"></div>
	<script>
	new Morris.Line({
	element: 'distance',
	data: [
    { day: '1', value: <%= Datum.find_by(date: 0)[:distance] %> },
    { day: '2', value: <%= Datum.find_by(date: 1)[:distance] %> },
    { day: '3', value: <%= Datum.find_by(date: 2)[:distance] %> },
    { day: '4', value: <%= Datum.find_by(date: 3)[:distance] %> },
    { day: '5', value: <%= Datum.find_by(date: 4)[:distance] %> },
    { day: '6', value: <%= Datum.find_by(date: 5)[:distance] %> },
    { day: '7', value: <%= Datum.find_by(date: 6)[:distance] %> }
  ],
  xkey: 'day',
  parseTime: false,
  ykeys: ['value'],
  labels: ['Value']
});</script>