<div id="topmenu">
		<ul class="nav">
			<li><%= link_to "Home", sessions_main_path %></li>
			<li><img src="/catbitmenubar.png" alt="catbit logo" /></li>
				<ul>
					<li><%= link_to "Settings", sessions_settings_path %></li>
					<li><%= link_to "Goals", sessions_goals_path %></li>
					<li><%= link_to "Calories", sessions_calories_path %></li>
					<li><%= link_to "Steps", sessions_steps_path %></li>
					<li><%= link_to "Distance", sessions_distance_path %></li>
					<li><%= link_to "Log out", logout_path %></li>
				</ul>
		</ul>
		<ul class="name">
			<li><%= render :text => "name" %></li>
		</ul>
</div>
<h1>Goals</h1>
<%= form_tag('/sessions') do -%>
	<%= number_field(:data, :number, in: 1..99999) %>
		<%= radio_button_tag(:input, "Calories") %>
		<%= label_tag(:input_calories, "Calories") %>
		<%= radio_button_tag(:input, "Steps") %>
		<%= label_tag(:input_steps, "Steps") %>
		<%= radio_button_tag(:input, "Distance") %>
		<%= label_tag(:input_distance, "Distance (miles)") %>
	<div><%= submit_tag 'Submit Goal' %></div>
<% end -%>