<center><h1>Steps</h1></center>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow= "<%= Datum.find_by(date: 0)[:steps] %>" aria-valuemin="0" aria-valuemax= "<%= Datum.find_by(date: 0)[:steps_goal] %>" style="width: <%= ((Datum.find_by(date: 0)[:steps].to_f / @daily_activity['goals']['steps'].to_f)*100).round(2) %>%; min-width: 3em;">
  <%= ((Datum.find_by(date: 0)[:steps].to_f / Datum.find_by(date: 0)[:steps_goal].to_f)*100).round(2) %>%
  </div>
</div>
<br><br>
<center><h1>Distance</h1></center>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow= "<%= Datum.find_by(date: 0)[:distance] %>" aria-valuemin="0" aria-valuemax= "<%= Datum.find_by(date: 0)[:distance_goal] %>" style="width: <%= ((Datum.find_by(date: 0)[:distance].to_f / Datum.find_by(date: 0)[:distance_goal].to_f)*100).round(2) %>%; min-width: 3em">
  <%= ((Datum.find_by(date: 0)[:distance].to_f / Datum.find_by(date: 0)[:distance_goal].to_f)*100).round(2) %>%
  </div>
</div>
<br><br>


<center><h1>Calories</h1></center>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow= "<%= Datum.find_by(date: 0)[:calories] %>" aria-valuemin="0" aria-valuemax= "<%= Datum.find_by(date: 0)[:calories_goal] %>" style="width: <%= ((Datum.find_by(date: 0)[:calories].to_f / Datum.find_by(date: 0)[:calories_goal].to_f)*100).round(2) %>%; min-width: 3em">
  <%= ((Datum.find_by(date: 0)[:calories].to_f / Datum.find_by(date: 0)[:calories_goal].to_f)*100).round(2) %>%
  </div>
</div>
<br><br>
<h1>Current Goals</h1>
<%= @daily_activity['goals'] %>
<h2></h2>
<h1>You Earned:</h1>
<h2><%= current_user[:points] %> Points</h2>


