<div id="topmenu">
		<ul class="nav">
			<li><%= link_to "Home", sessions_main_path %></li> 
			<li><img src="/catbitmenubar.png" alt="catbit logo" /></li>
				<ul>
					<li><%= link_to "Settings", sessions_settings_path %></li>
					<li><%= link_to "Goals", sessions_goals_path %></li>
					<li><%= link_to "Calories", sessions_calories_path %></li>
					<li><%= link_to "Steps", sessions_steps_path %></li>
					<li><%= link_to "Distance", sessions_distance_path %></li>
					<li><%= link_to "Log out", logout_path %></li>
				</ul>
		</ul>
		<ul class="name">
			<li><%= render :text => "name" %></li>
		</ul>
</div>

<h1>Steps</h1>
	<div id="steps" style="height: 200px;"></div>
	<script>
	new Morris.Donut({
	element: 'steps',
	data: [
    { label: "Goal", value: <%= @daily_activity['goals']['steps'] - @daily_activity['summary']['steps'] %> },
    { label: "Current", value: <%= @daily_activity['summary']['steps'] %> }
  ]
});</script>
<br><br>
<h1>Distance</h1>
	<div id="distance" style="height: 200px;"></div>
	<script>
	new Morris.Donut({
	element: 'distance',
	data: [
    { label: "Goal", value: <%= @daily_activity['goals']['distance'] - @daily_activity['summary']['distances'][0]['distance'] %> },
    { label: "Current", value: <%= @daily_activity['summary']['distances'][0]['distance'] %> }
  ]
});</script>
<br><br>
<h1>Calories</h1>
	<div id="calories" style="height: 200px;"></div>
	<script>
	new Morris.Donut({
	element: 'calories',
	data: [
    { label: "Goal", value: <%= @daily_activity['goals']['caloriesOut'] - @daily_activity['summary']['caloriesOut'] %> },
    { label: "Current", value: <%= @daily_activity['summary']['caloriesOut'] %> }
  ]
});</script>
<br><br>
<h1>You Earned:</h1>
<h2><%= @daily_activity['goals']['activeMinutes'] %> Points</h2>
	
