<div id="topmenu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu </a>
		<ul class="nav">
			<li><%= link_to "Home", sessions_main_path %></li> 
				<ul class="dropdown-menu">
					<li><%= link_to "Settings", sessions_settings_path %></li>
					<li><%= link_to "Goals", sessions_goals_path %></li>
					<li><%= link_to "Calories", sessions_calories_path %></li>
					<li><%= link_to "Steps", sessions_steps_path %></li>
					<li><%= link_to "Distance", sessions_distance_path %></li>
					<li><%= link_to "Log out", logout_path %></li>
				</ul>
		</ul>
</div>
<h1>Settings</h1>
<h2>Name</h2>
	<%= form_tag('/sessions') do -%>
	<%= search_field(:user, :name) %>
	<div><%= submit_tag 'Name' %></div>
	<% end -%>
<h2>Age</h2>
	<%= form_tag('/sessions') do -%>
	<%= number_field(:data, :age, in: 1.0..99.0) %>
	<div><%= submit_tag 'Age' %></div>
	<% end -%>
<h2>Height</h2>
	<%= form_tag('/sessions') do -%>
	<%= number_field(:data, :height, in: 1.0..99.0, step: 0.1) %>
	<div><%= submit_tag 'Height' %></div>
	<% end -%>
<h2>Weight</h2>
	<%= form_tag('/sessions') do -%>
	<%= number_field(:data, :weight, in: 1.0..999.0, step: 0.1) %>
	<div><%= submit_tag 'Weight' %></div>
	<% end -%>