<h1>Steps</h1>
<div id="steps" style="height: 400px;"></div>
	<script>
	new Morris.Line({
	element: 'steps',
	data: [
    { day: '1', value: <%= Datum.find_by(date: 0)[:steps] %> },
    { day: '2', value: <%= Datum.find_by(date: 1)[:steps] %> },
    { day: '3', value: <%= Datum.find_by(date: 2)[:steps] %> },
    { day: '4', value: <%= Datum.find_by(date: 3)[:steps] %> },
    { day: '5', value: <%= Datum.find_by(date: 4)[:steps] %> },
    { day: '6', value: <%= Datum.find_by(date: 5)[:steps] %> },
    { day: '7', value: <%= Datum.find_by(date: 6)[:steps] %> }
  ],
  xkey: 'day',
  parseTime: false,
  ykeys: ['value'],
  labels: ['Value']
});</script>